/* Center everything */
.app-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 50px 20px;
  background-color: #f4f4f5;
  min-height: 300vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app-card {
  width: 100%;
  max-width: 800px;
  padding: 30px;
  border-radius: 15px;
  background-color: #e0caca;
}

.list-item-hover:hover {
  background-color: #e9f5ff;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

h1, h2 {
  color: #343a40;
}

.btn-primary {
  background-color: #de4314;
  border-color: #f2560e;
}

.btn-primary:hover {
  background-color: #ee2617;
  border-color: #e12e12;
}
